port = 3000
Username = brijeshsingh220010_db_user
Password =rbCfUqHOXJC2GmTt
connection_string=mongodb+srv://brijeshkumar4705r_db_user:4zJPn20A6c97H8XG@backend-practice.cbjqxma.mongodb.net/
CLIENT_ORIGIN=http://localhost:5173,http://localhost:5174

IMAGEKIT_PRIVATE_KEY=private_Pda9rOjPsLr1u2Wj91ld5lSXErA=
IMAGEKIT_PUBLIC_KEY=public_k/JRq8/NTbhOqZw/Ei9JbAmt4gE=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/9iy4ozob4
JWT_SECRET= 5409207ef18c3743074342aa6ecd327e5114bc760e5d02d9270df4a59df9ace8